<div class="container form">
  <h2>Mettre à jour mon compte <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-inputs">
      <%= f.input :name,
                  label: "Nom complet",
                  autofocus: true,
                  input_html: { autocomplete: "name"} %>

      <%= f.input :username,
                  label: "Surnom",
                  placeholder: "nom d'utilisateur",
                  autofocus: true,
                  required: true,
                  input_html: { autocomplete: "username"} %>
      <%= f.input :email,
                  label: "E-mail",
                  placeholder: "votre.adresse@email.fr",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  label: "Nouveau mot de passe",
                  required: true,
                  hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label: "Confirmation",
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :photo, as: :file %>
      <%= f.input :city,
                  label: "Ville",
                  autofocus: true,
                  input_html: { autocomplete: "city"} %>
      <%= f.input :birthdate,
                  as: :date,
                  html5: true,
                  label: "Date de naissance",
                  autofocus: true,
                  input_html: { autocomplete: "birthdate"} %>

    </div>


 <div class="form-actions">
      <%= f.button :submit, "Mettre à jour", class: "btn-blue" %>
    </div>
  <% end %>
  <div class="delete-account">
    <h3>Supprimer votre compte</h3>
    <p>Vous voulez nous quitter? <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Sûr-sûr?" }, method: :delete %></p>
    <%= link_to "Retour", :back %>
  </div>
</div>
